<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Unsere Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center align-items-center>

      <ion-col sizeLg="3" size="5">
        <h5>Node.js</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="nodejs" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>Ionic 4</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="ionic4" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>Angular 2+</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="angular" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>Vue.js</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="vuejs" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>Bootstrap 4</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="bootstrap" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>Microsoft Bot Framework</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="mbotframework" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>SAP Fiori / SAPUI5</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="fiori" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>TypeScript</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="typescript" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>JavaScript</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="javascript" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>ASP.Net</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="aspnet" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>Java</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="java" class="skillcircle"></div>
      </ion-col>

      <ion-col sizeLg="3" size="5">
        <h5>ABAP</h5>
      </ion-col>
      <ion-col sizeLg="3" size="5">
        <div id="abap" class="skillcircle"></div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>