<!--
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>I am Dennis Stoklosa</ion-title>
  </ion-toolbar>
</ion-header>

-->

<ion-content padding class="frontpage">
  <ion-grid class="openingpage">
    <ion-row id="openingheader">
      <ion-col offsetMd="2" sizeMd="6">
        <h1>Hallo, wir sind <br><strong>sparqs</strong></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offsetMd="2" sizeMd="7">
        <p>Digital Lovers - Technology Lovers</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="hcenter">
        <ion-button routerLink="/menu/infos">Erfahre mehr</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>