.hcenter{
    text-align:center;
}

.frontpage {
	&, .row {
		height: 100vh;
		min-height: 800px;
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
	}
	h1 {
        font-weight: 200;
        display: block;
        color: white;
		strong {
			font-weight: 800;
		}
	}
	.site-subheading {
		max-width: 640px;
		margin: 0 auto;
		color: rgba(255,255,255,.5);
	}
    --background: #ccc, url('../../../assets/website_background.png') no-repeat center center / cover;
}

.openingpage {
    height: 95vh;
	min-height: 800px;
}

#openingheader {
    margin-top: 45vh;
    margin-bottom: 3vh;
}